<div [formGroup]="profileForm">
    <div class="formRow">
        <md-input-container>
            <input mdInput placeholder="Name" [formControl]="profileForm.get('name')">
        </md-input-container>
    </div>
    <div class="formRow">
        <md-input-container>
            <input mdInput placeholder="Phone" [formControl]="profileForm.get('phone')">
        </md-input-container>
    </div>
    <div class="formRow">
        <md-select placeholder="Office" [formControl]="profileForm.get('office')">
            <md-option *ngFor="let office of offices" [value]="'api/addresses/' + office.id">{{ office.address }}</md-option>
        </md-select>
    </div>
    <div class="formRow">
        <app-address-control [formControl]="profileForm.get('home')"></app-address-control>
    </div>
    <div class="formRow">
        <button md-raised-button [disabled]="profileForm.invalid" (click)="updateProfile()">Update</button>
    </div>
</div>
