<md-toolbar>
    <button md-raised-button color="primary" (click)="openCreateUserDialog()"><md-icon>person_add</md-icon> New User</button>
</md-toolbar>

<table class="table table-striped" [rtList]="getUsers" #list="rtList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of list.items">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{ROLES[user.role].label}}</td>
            <td>
                <md-icon *ngIf="user.active">check_box</md-icon>
                <md-icon *ngIf="!user.active">check_box_outline_blank</md-icon>
            </td>
            <td>
                <a md-icon-button>
                    <md-icon>person_pin_circle</md-icon>
                </a>
                <button md-icon-button (click)="openEditUserDialog(user)"><md-icon>mode_edit</md-icon></button>
                <button md-icon-button color="warn" (click)="openDeleteConfirm(user)"><md-icon>delete</md-icon></button>
            </td>
        </tr>
    </tbody>
</table>
