/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../assets/fonts/material-icons.css';

app {
    min-height: 100%;
    position: relative;
    display: block;
}

main {
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}

.formRow {
    padding-top: 20px;
}

table.table td {
    padding: 0 15px;
}
